$primary-color: #319795;
$secondary-color: #F0FDFA;
$title-color: #44403C;
$description-color: #78716C;
$description-color-20: #78716C33;
$box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.08);
$placeholder-color: #29252433;
$background-white: #FFFFFF;
$orange-color: #FB923C;
$text-1E293B: #1E293B;
$title-292524:#292524;
$noti-F97316: #F97316;
$border-E7E5E4: #E7E5E4;
$background-fafaf4: #F5F5F4;
$text-57534E: #57534E;
$background-pink: #FFE4E6;
$border-D6D3D1: #D6D3D1;
$webkit-scrollbar: #72633A;
